<div class="int-review row">
    <div class="int-review__personal-photo int-personal-photo col-3 col-md-2 ">
        <a class="int-personal-photo__link " href="#">
            <img src="../../../images/personal-photo.png" alt="" class="int-personal-photo__image">
        </a>
    </div>
    <div class="int-review__info int-review-info col-9 col-md-10">
        <div class="row">
            <span class="int-review-info__name int-personal-photo__name col-4 col-md-2 ">User name</span>
            <div class="int-review-info__status col-3 col-md-7">
                <span class="int-review-info__status-name bg-light">{{variable}}</span>
            </div>
            <div class="int-review-info__comments col-2 col-md-1 text-right"><span class="icon-chat "></span> 2</div>
            <!--<div class="int-review-info__time col-3 col-md-2 text-right"><span class="icon-clock "></span> 20m</div>-->
            <div class="int-review-info__time col-3 col-md-2 text-right"><time class="loaded timeago" datetime="2019-10-14T09:28:58Z" >ago</time></div>

        </div>
        <h2 class="int-review-info__title-item">Item title</h2>
        <p class="int-review-info__text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. </p>
        <ul class="int-review-info__tags int-tags row">
            <span class="int-tags-icon icon-tag"></span>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag1</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag2</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag3</a></li>
        </ul>
    </div>
</div>

