<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="description" content="description">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCG:Frontend</title>
    <link href="/webpack/views/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="view-list-wrapper">
    <h3 class="title">
        Navigate to page:
    </h3>
    <ol class="views-list">
        {{#pages this}}
            <li class="view">
                <a href="/{{this}}">{{this}}</a>
            </li>
        {{/pages}}
    </ol>
</div>
</body>
</html>
