<div class="int-submenu">
    <ul>
        <li class="int-submenu__item"><a href="#" class="int-submenu__link">
            <strong>Submenu</strong>
        </a></li>
        <li class="int-submenu__item"><a href="#" class="int-submenu__link">Submenu item</a></li>
        <li class="int-submenu__item"><a href="#" class="int-submenu__link">Submenu item</a></li>
        <li class="int-submenu__item"><a href="#" class="int-submenu__link">Submenu item</a></li>
    </ul>
</div>
