<!DOCTYPE html>
<html lang="en" class="pcg-page-wrapper">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="description" content="description">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} | Site</title>

    <link href="content/css/styles.css" rel="stylesheet">

</head>
    {{> ../../components/rte/rte backOfficeView = true}}
</html>
