<section class="int-page-title">
    <h1 class="int-page-title__heading">Page title in
        <a class=" dropdown-toggle int-page-title__city" data-toggle="dropdown"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">New-York</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Minsk</a>
            <a class="dropdown-item" href="#">Grodno</a>
        </div>
    </h1>
</section>
