{{#extend "_site-layout" title="Homepage"}}
    {{#content "main-content"}}
        <div class="pcg-homepage row">
            <aside class="pcg-homepage__submenu pcg-submenu col-md-2 d-none d-md-block">
                <div class="pcg-submenu__list">
                    {{> ../../components/submenu/submenu}}
                </div>
                <div class="pcg-submenu__list">
                    {{> ../../components/submenu/submenu}}
                </div>
                <div class="pcg-submenu__list">
                    {{> ../../components/submenu/submenu}}
                </div>
                <div class="pcg-submenu__list">
                    {{> ../../components/submenu/submenu}}
                </div>
            </aside>
            <div class="pcg-homepage__page col-md-10 ">
                <div class="pcg-homepage__page-title">
                    {{> ../../components/page-title/page-title}}
                </div>
                <div class="pcg-homepage__posts-managment">
                    {{> ../../components/new-item-modal/new-item-modal}}
                    {{> ../../components/posts-managment/posts-managment}}
                </div>

                    <div class="pcg-homepage__review-wrapper pcg-review">
                        <div class="pcg-review__element">
                            {{> ../../components/review/review variable="Pro"}}
                        </div>
                        <div class="pcg-review-element">
                            {{> ../../components/review/review variable="Member"}}
                        </div>
                        <div class="pcg-review-element">
                            {{> ../../components/review/review variable="Member"}}
                        </div>
                        <div class="pcg-review-element">
                            {{> ../../components/review/review variable="Member"}}
                        </div>
                        <div class="pcg-homepage__pagination pcg-pagination">
                            {{> ../../components/pagination/pagination}}
                        </div>
                    </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
