<header class="int-header">
    <ul class="row bg-dark navbar ">
        <li class="col-2 d-md-none int-header__menu-icon int-menu-icon">
            <button class=" int-menu-icon__button navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="int-menu-icon__icon-menu-burger icon-menu-burger int-icon"></span>
            </button>
        </li>
        <li class="col-2 col-md-6 int-header__logo int-logo text-md-left">
            <a class="int-logo__link" href="#">
                <img src="../../../images/logo.png" alt="" class="int-logo__link-image int-logo">
            </a>
        </li>
        <li class="d-none d-md-block col-md-1 int-header__choose-city int-choose-city">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#" role="button" aria-haspopup="true" aria-expanded="false">New-York</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Minsk</a>
                <a class="dropdown-item" href="#">Grodno</a>
            </div>
        </li>
        <li class="col-4 d-md-none int-header__page-title">Page title</li>
        <li class="d-none d-md-block col-md-1 int-header__notifications-icon int-notifications-icon ">
            <a class="int-notifications-icon__link" href="#">
                <span class="int-notifications-icon__icon-notifications icon-notifications int-icon"></span>
            </a>
        </li>
        <li class="d-none d-md-block col-md-1 int-header__message-icon int-message-icon text-left">
            <a class="int-message-icon__link" href="#">
                <span class="int-message-icon__icon-message icon-message int-icon"></span>
            </a>
        </li>
        <li class="col-2 col-md-2 int-header__personal-photo int-personal-photo">
            <span class="int-personal-photo__name d-none d-md-block">User name</span>
            <a class="int-personal-photo__link " href="#">
                <img src="../../../images/personal-photo.png" alt="" class="int-personal-photo__image">
            </a>
        </li>
        <li class="col-2 col-md-1 int-header__search-icon int-search-icon">
                <a class="int-search-icon__link" href="#">
                    <span class="int-search-icon__icon-search icon-search int-icon"></span>
                </a>
        </li>
    </ul>
    <nav class="int-nav navbar navbar-expand-md bg-secondary navbar-dark">
        <div class="collapse navbar-collapse "  id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="int-nav__list-item nav-item">
                <a class="int-nav__list-item-link nav-link active" href="#">Menu item</a>
            </li>
            <li class="int-nav__list-item nav-item">
                <a class="int-nav__list-item-link nav-link" href="#">Menu item</a>
            </li>
            <li class="int-nav__list-item nav-item">
                <a class="int-nav__list-item-link nav-link" href="#">Menu item</a>
            </li>
            <li class="int-nav__list-item nav-item">
                <a class="int-nav__list-item-link nav-link" href="#">Menu item</a>
            </li>
            <li class="int-nav__list-item nav-item">
                <a class="int-nav__list-item-link nav-link" href="#">Menu item</a>
            </li>
        </ul></div>
    </nav>
    <!--<picture>-->
        <!--<source srcset="../../../images/personal-photo.png" media="(min-width: 650px)" >-->
        <!--<source  srcset="../../../images/personal-photo.png" >-->
        <!--<img src="../../../images/personal-photo.png" class="int-personal-photo__image" alt="ddd" >-->
    <!--</picture>-->
    <!--<picture>-->
        <!--<source srcset="../../../images/photo.png" media="(min-width: 650px)" >-->
        <!--<source  srcset="../../../images/personal-photo.png" >-->
        <!--<img src="../../../images/logo.png" alt="2222" >-->
    <!--</picture>-->

</header>
