<footer class="int-footer row">
    <div class="col col-md-2 int-footer__left"></div>
    <div class="col-md-10 col-12">
        <div class="int-footer__top bg-light">
            <ul class="row justify-content-start">
                <li class="int-footer_items col col-md-1">
                    <a href="#" class="int-footer__items-link">
                        About
                    </a>
                </li>
                <li class="int-footer_items col col-md-1">
                    <a href="#" class="int-footer__items-link">
                        Policies
                    </a>
                </li>
                <li class="int-footer_items col col-md-1">
                    <a href="#" class="int-footer__items-link">
                        Site Map
                    </a>
                </li>
                <li class="int-footer_items col col-md-1">
                    <a href="#" class="int-footer__items-link">
                        Help
                    </a>
                </li>
                <li class="int-footer_items col col-md text-left">
                    <a href="#" class="int-footer__items-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
        <div class="int-footer__bottom  bg-light  d-none d-md-block">
            <div class="row">
                <div class="int-footer__logo col-md-1 ">
                    <img src="../../../images/logo-footer.png" alt="logo">
                </div>
                <p class="int-footer__rights col-md">© 2015. Qulix Systems. All rights reserved.</p>
            </div>

        </div>
    </div>



</footer>
