<div class="int-pagination">
    <button class="int-pagination__button int-pagination__button--prev">
        <span> Previous</span>
    </button>
    <button class="int-pagination__button int-pagination__button--next">
        <span> Next</span>
    </button>
</div>
