<section class="int-post-managment row bg-light ">
    <div class="int-post-managment__search int-search col-8 col-md-6 form-group">
        <span class="int-search__icon icon-search int-icon"></span>
        <input type="text" class="form-control int-search__input d-none d-md-block" id="formGroupSearch" placeholder="Search...">

    </div>
    <div class="int-post-managment__add int-add col-2 col-md-5 text-center" data-toggle="modal" data-target="#newItemModal">
        <span class="int-add__icon icon-plus-add int-icon"></span>
        <span class="int-add__text d-none d-md-inline-block ">New item</span>
    </div>
    <div class="int-post-managment__filter int-filter col-2 col-md-1 text-right">
        <span class="int-filter__icon icon-filter int-icon"></span>
    </div>
</section>
